<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="fw.listeners.reportlistener.CucumberReport" />
	</listeners>
	<test name="To Do List">
		<classes>
			<class name="bdd.runner.ToDoFeatureRunner" />
		</classes>
	</test>
</suite> 